:root {
    --main-color: #fff;
}

/* Elements */

a {
    font-family: 'Gurajada', serif;
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #6a6a6a;
}

p {
    font-family: 'Gurajada', serif;
    font-size: 20px;
    line-height: 1;
}

/* Navigation */

#navbar {
    position: fixed;
    padding-top: 2px;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: var(--main-color);
    z-index: 100;
}

#navbar a {
    margin: 0px 20px 0px 20px;
    font-size: 25px;
}

#navbar a:hover {
    border-top: 3px solid #000;
}

/* Welcome section */

#welcome-section {
    height: 100vh;
    text-align: center;
}

#welcome-section h1 {
    padding-top: 40vh;
    font-family: 'Kumar One Outline', cursive;
}

/* FadeIn animation for welcome section */

#welcome-section {
    -webkit-animation-name: welcome;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s;
    /* Safari 4.0 - 8.0 */
    animation-name: welcome;
    animation-duration: 8s;
}

@-webkit-keyframes welcome {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes welcome {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Projects */


@media all and (min-width: 700px) {
    #projects {
        height: 80vh;
        padding-top: 35vh;
    }

    .project-tile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 1000px;
        margin: 0 auto;
    }

    .project-title {
        width: 50%;
        padding: 20px;
        text-align: justify;
    }
}

.project-title h3 {
    line-height: 0;
    font-size: 25px;
}
